.wrapper {
    width: auto;
    border: 1px solid black;
    height: 610px;
}
.container {
    border: 1px solid #ffcc5c;
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.container > div {
    padding: 10px;
    text-align: center;
    margin: 4px;
}

.logo {
    margin-right: auto;
    border-radius: 50px;
}

.our-office {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.circle-image {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inquiry-box {
    display: flex;
    justify-content: space-between;
}

.inquiry-form {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.output {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    padding: 100px;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: auto;
    }

    .logo {
        margin: auto;
    }
}


.center > .img-slideshow {
    box-sizing: border-box;
    padding: 0%;
    width: 1331px;
    height: 300px;
    /* margin: 0px 200px 0px 200px; */
    border-radius: 5px;
}

.btn-1 {
    margin: 0;
  position: absolute;
  top: 65%;
  left: 49%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-2 {
    margin: 0;
  position: absolute;
  top: 65%;
  left: 51%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}